@import "tailwindcss";
@import url('https://fonts.googleapis.com/css2?family=Fredoka:wght@300..700&family=Pacifico&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');
body {
    font-family:"Work Sans", sans-serif;
}
